package flakiness.es.hello;

/**
 * Created by omo on 8/2/14.
 */
public class ApplicationKeys {
    static public String APPLICATION_ID = "YOUR_ID_HERE";
    static public String CLIENT_KEY = "YOUR_KEY_HERE";
}
